@font-face {
    src: url(../font/VoguerIIDemoRegular.ttf);
    font-family: voguer;
}

* {
    font-family: voguer;
}
body {
    opacity: 1;
    transition: 2s opacity;
  }
  
.fade {
      opacity: 0;
      transition: none;
  }


/*header*/
.masthead {
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: 0% 14%;
}

/*navigacija*/

#mainNav {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 1px 5px 15px black;
}



#mainNav a {
    padding: 1.4rem 1.3rem !important;
    font-size: 18px;
    letter-spacing: 2px;
    text-shadow: 1px 2px 5px black;
    font-weight: 300;
}

.navbar .prvi {
    color: #64a19d !important;
    border-bottom: 2px solid #467370;
}

.naslov {
    width: 33%;
    left: 1%;
    top: 22%;
    padding: 20px;
}

.masthead .naslov h1 {
    font-family: voguer;
    text-shadow: 4px 4px 7px black;
    font-size: 2.5rem;
    line-height: 4rem;
    letter-spacing: 0.2em;
}

.naslov h2 {
    font-size: 1.5rem;
}

.navbar .navbar-brand img {
    width: 60px;
    height: 40px;
}

#navbarResponsive a{
    color: white;
}


#navbarResponsive a.scrolled {
    color: black !important;
    text-shadow: 1px 2px 3px black;
}

#mainNav.navbar-shrink .nav-link.active {
    color: #467370 !important;
    transition: 0.2s ease-in-out;
    padding-bottom: 15px !important;
    font-size: 1.4rem;
    outline: none;
    border-bottom: 0.2rem solid black;
}

#mainNav .navbar-toggler {
    border: 2.2px solid #64a19d;
}

/*about*/

#about {
    margin: 0 auto;
    letter-spacing: 1px;
    background-attachment: fixed;
    background-image: url(../img/whoback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#about h4 {
    font-size: 3em;
    text-shadow: 1px 2px 3px #666;
}

#about h5 {
    font-size: 2.5em;
    text-shadow: 1px 2px 2px #666;
}

.random-word {
    font-size: 4em;
    color: #64a19d;
    letter-spacing: 3px;
    animation: slidedown 3s infinite;
    text-shadow: 1px 2px 3px #666;
}

@keyframes slidedown {
    0% {
        opacity: 50;
    }
    5% {
        opacity: 0;
        transform: translateY(0.5em);
    }
    7% {
        transform: translateY(-1em);
    }
    10% {
        opacity: 0;
    }
    20% {
        transform: translateY(0);
        opacity: 100;
    }
}


/*galerija*/

.wrapper {
    height: 75vh;
}

#gallery {
    background-image: url(../img/galback.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#gallery h3 {
    font-size: 3.3em;
    text-shadow: 1px 4px 10px #64a19d;
}

.slike {
    flex-basis: 58rem;
}

.slike img {
    position: relative;
    width: 40em;
    height: 12.5rem;
    border: 1px solid #111;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: 0.4s ease;
    margin: 4px;
    box-shadow: 0px 0px 3px #fff;
}

.slike img {
    position: relative;
    width: 18.75rem;
    height: 12.5rem;
    border: 1px solid #111;
    filter: grayscale(100%);
    opacity: 0.8;
    transition: 0.4s ease;
}

.slike img:hover {
    cursor: pointer;
    filter: grayscale(0%);
    opacity: 1;
}

.slike img.zoom {
    transform: scale(1.8);
    filter: grayscale(0%);
    border: 1px solid transparent;
    z-index: 99;
}
/*testimonials*/


.testimonials{
    min-height: 100vh;
    padding: 150px 15px;
}
.testimonials .title{
    margin-bottom: 60px;
}
.testimonials .title h7{
    font-size: 2em;
}
.testContain{
    max-width: 1170px;
}
.testimonials .slider{
    border: 1px solid #333333;
    max-width: 600px;
    padding: 30px;
}
.testimonials .slider p{
    font-size: 18px;
}
.testimonials .slider .slide{
    display: none;
}
.testimonials .slider .slide.active{
    display: block;
    animation: slide 1s ease;
}

/*animacija slide*/
@keyframes slide{
	0%{
		opacity:0;
		transform: translateX(-15px);
	}
	100%{
	   opacity:1;
		transform: translateX(0px);	
	}
}

.testimonials .slider .client-info h6{
    font-size: 25px;
    margin:30px 0 10px;
}
.testimonials .slider .client-info span{
    font-size: 16px;
    color: #64a19d;
}
.testimonials .slider-indicator{
    padding-top: 30px;
}
.testimonials .slider-indicator img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 0.2;
    border: 4px solid #64a19d;
    cursor: pointer;
    transition: opacity 1s ease;
}
.testimonials .slider-indicator img.active{
    opacity: 1;
}   


/*footer*/
.footer{
    border-left: 5px solid #64a19d;
    border-right: 5px solid #64a19d;
}

/*Button top*/
#btnTop{
    display: none;
}

#btnTop{
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #467370;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    outline: none;
    cursor: pointer;
    z-index: 101;
}
#btnTop:active{
    background-color: #cc2333;
}

/*forma*/
#contact h5{
    font-size: 3em;
}
#contact{
    box-shadow: 0px 4px 25px #64a19d;
}
#success p{
    color:black;
}

/*social*/
.social a{
    box-shadow: 1px 3px 3px #64a19d;
}


/*responsive*/

@media (max-width: 992px) {
    /*heder*/
    /*meni*/
    #mainNav {
        background-color: black;
        text-align: center;
    }
    #mainNav a {
        font-size: 1.45em;
        border: none;
    }
    #mainNav.navbar-shrink {
        background-color: #fff;
    }
    #mainNav.navbar-shrink .nav-link.active {
        font-size: 2rem;
        color: black !important;
        border-bottom: none;
    }
    #navbarResponsive a.scrolled {
        color: #64a19d !important;
        text-shadow: 0 7px 6px #666;
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: black;
    }
    /*tekst*/
    .naslov {
        width: 55%;
        left: 2%;
        top: 50%;
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: 0px 5px 10px black;
    }
    .naslov h1 {
        font-size: 2rem !important;
    }
    /*galerija*/
    #gallery {
        height: 120vh !important;
    }
    #gallery h3 {
        padding-top: 30px !important;
    }
    .slike {
        top: 15%;
        flex-basis: 39rem;
    }
    .slike img.zoom {
        transform: scale(1.6);
    }
    /*contact*/
    #contact{
        width: 80% !important;
    }
}

@media (max-width: 768px) {
    /*tekst*/
    .masthead {
        background-position: 80%;
    }
    .naslov {
        width: 60%;
        top: 35%;
        left: 20%;
    }
    .naslov h1 {
        font-size: 2.5rem !important;
    }
    .slike img.zoom {
        transform: scale(1.2);
    }
    /*about*/
    #about h4 {
        font-size: 2.5em;
    }
    #about h5 {
        font-size: 3em;
    }
    .random-word{
        font-size: 2.5em;
    }
}

@media (max-width: 616px) {
    /*galerija*/
    #gallery h3 {
        font-size: 2em;
    }
    #gallery {
        height: 235vh !important;
    }
    .slike {
        top: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slike img {
        margin: 20px 0;
    }
}

@media (max-width: 576px) {
    /*tekst*/
    .naslov {
        width: 80%;
        left: 10%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .naslov h1 {
        font-size: 2rem !important;
    }
     /*about*/
     #about h4 {
        font-size: 2.5em;
        text-align: center;
    }
    #about h5 {
        font-size: 2em;
        padding: 20px 0 !important;
    }
    .random-word{
        font-size: 2em;
    }
    /*contact*/
    #contact h5{
        font-size: 2.3em;
    }
    /*footer*/
    .footer{
        border: none !important;
    }
}

@media (max-width: 320px) {
    /*galerija*/
    .slike img.zoom {
        transform: scale(1.1);
    }
}